@model TPLOCAL1.Models.FormModel
@Html.ValidationSummary(false, "")

<!DOCTYPE html>
<html>

<head>
    <title>
        Formulaire
    </title>
    <link href="~/ressources/Index.css" rel="stylesheet" />

</head>



<body>
    <header>
        <img src="~/ressources/GroupeHN.png" class="image" alt="GroupeHN" />
        <h1>Formulaire TP HN avis</h1>
        

    </header>

    <nav>
        <ul>
            <li><a href="/Home/Index">Accueil</a></li>
            <li><a href="/Home/Index/OpinionList">Liste avis</a> </li>
        </ul>
    </nav>

 
    <form asp-action="ValidationFormulaire">
    <section>
        <table>
            <caption>Informations Personnelles</caption>
            
                <input type="hidden" asp-for="Id" />
            <tr>
                <td>
                    <label asp-for="Name"></label>
                </td>
                <td>
                    <input asp-for="Name" class="form-control" />
                                   
                </td>

            </tr>

            <tr>
                <td>
                        <label asp-for="Forename"></label>
                </td>
                <td>
                    <input asp-for="Forename" class="form-control" />
                    
                </td>
            </tr>
            <tr>
                <td>
                        <label asp-for="Gender"></label>
                </td>
                <td>
                        <select name="Gender" id="Sexes" asp-for="Gender">
                            <option value="Select" selected>Sélectionner un sexe</option>
                            <option value="Man">Homme</option>
                            <option value="Woman">Femme</option>
                            <option value="Other">Autre</option>
                        </select>
                       
                </td>

            </tr>

            <tr>
                <td>
                        <label asp-for="Address"></label>
                </td>
                <td>
                    <input asp-for="Address" class="form-control" />
                </td>
            </tr>
            
            <tr>
                <td>
                        <label asp-for="ZipCode"></label>
                </td>
                <td>
                    <input asp-for="ZipCode" class="form-control" />
                   
                </td>

            </tr>

            <tr>
                <td>
                        <label asp-for="Town"></label>
                </td>
                <td>
                    <input asp-for="Town" class="form-control" />
                   
                </td>
            </tr>

            <tr>
                <td>
                        <label asp-for="EmailAdress"></label>
                </td>
                <td>
                    <input asp-for="EmailAdress" class="form-control" />
                    
                </td>

            </tr>

        </table>
        
            

        
    </section>

    <section>
        <table>
            <caption>Informations formation suivie</caption>
            <tr>
                <td>
                        <label asp-for="DateDebutFormation"></label>
                </td>
                <td>
                    <input asp-for="DateDebutFormation" class="form-control" />
                    
                </td>

            </tr>

            <tr>
                <td>
                        <label asp-for="Formation"></label>
                </td>
                <td>
                    <select name="Formation" id="Formation" asp-for="Formation">
                        <option value="Select" selected>Sélectionner une formation</option>
                        <option value="Cobol">Formation Cobol</option>
                        <option value="Object">Formation Objet</option>
                        <option value="DualSkills">Formation Dual Skills</option>
                    </select>
                </td>
            </tr>
     
        </table>
    </section>

    <section>
        <table>
            <caption>Avis sur la formation</caption>
        
            <tr>
                <td>
                        <label asp-for="AvisFormationCobol"></label>
                </td>
                <td>
                    <input asp-for="AvisFormationCobol" class="form-control" />
                    </td>

            </tr>

            <tr>
                <td>
                        <label asp-for="AvisFormationCs"></label>
                </td>
                <td>
                    <input asp-for="AvisFormationCs" class="form-control" />                 
                </td>
            </tr>
           
        </table>
    </section>
    
    <input type="submit" value="Valider" class="validation" /> 

    </form>   

</body>

</html>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
