
@model TPLOCAL1.Models.OpinionList


<!DOCTYPE html>
<html>

<head>
    <title>
        Liste des avis
    </title>
    <link href="~/ressources/Index.css" rel="stylesheet" />

</head>



<body>
    <header>
        <img src="~/ressources/GroupeHN.png" class="image" alt="GroupeHN" />
        <h1>Liste des avis</h1>
       

    </header>

    <nav>
        <ul>
            <li><a href="/Home/Index">Accueil</a></li>
            <li><a href="/Home/Index/Form">Formulaire</a> </li>
        </ul>
    </nav>

    <section>
        <table>
            <caption>Liste</caption>

            <tr>
                <td>Nom</td>
                <td>Prénom</td>
                <td>Avis donné</td>
            </tr>

           
            
            

        </table>
    </section>

</body>
</html>