@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model TPLOCAL1.Models.FormModel


<!DOCTYPE html>
<html>

<head>
    <title>
        Liste des avis
    </title>
    <link href="~/ressources/Index.css" rel="stylesheet" />

</head>



<body>
    <header>
        <img src="~/ressources/GroupeHN.png" class="image" alt="GroupeHN" />
        <h1>Liste des avis</h1>
       

    </header>

    <nav>
        <ul>
            <li><a href="/Home/Index">Accueil</a></li>
            <li><a href="/Home/Index/Form">Formulaire</a> </li>
        </ul>
    </nav>

    <section>
        <table>
            

        </table>




    </section>





</body>



</html>